@import url(http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700&subset=latin,cyrillic);

/* Base elements */

html, body{
  height:100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-image: url(../img/pages/landing/marquee.jpg);
  background-repeat: no-repeat;
  background-position: 0 -200px;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  color: rgb(50, 50, 50);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

a:hover, a:focus {
  color: rgb(219, 82, 47);
  text-decoration: none;
}

.text-center {
  text-align: center;
}

/* HEADER */
.header {
  margin-top: 4%;
  text-align: center;
  color: #FFF;
  text-rendering: optimizelegibility;
  margin-bottom: 100px;
}

.header-text {
  font-size: 50px;
}

.header-text,
.header-lead {
  font-weight: 200;
  line-height: 1em;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  line-height: 1.1em;
}

/* FOOTER */
.footer {
  height: 70px;
  background: #333;
  font-size: 13px;
}

.copyright {
  padding: 28px 40px 0 40px;
  color: #E3E3E3;
}

.copyright-logo {
  max-width: 100%;
  width: 62.5px;
  vertical-align: middle;
  margin: 0 5px;
}

/* DEVICE&CAROUSEL */
.device {
  max-width: 100%;
}

.device-bage-playMarket {
  position: relative;
  top: -50px;

  opacity: 0.9;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.device-bage-playMarket:hover {
  opacity: 1;
}

.device-carousel-inner {
  position: absolute;
  top: 82px;
  bottom: 82px;
  right: 74px;
  left: 76px;
  width: auto;
  background: #FFF;
}

.device-carousel-item,
.device-carousel-item .device-carousel-screenshot {
  width: 600px;
  height: 375px;
}

.device-carousel-item {
  width: 600px;
  height: 375px;
}

.device-carousel-indicators {
  bottom: 80px;
}


/* CONTENT */
.ribbon {
  margin-top: 260px;
  background: #FEFEFE;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.ribbon-pull-up {
  margin-top: -230px;
  text-align: center;
  max-width: 100%;
  display: block;
}

/* CONTENT: Sections */
.section-header {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.section-header.first {
  margin-top: 0;
}

/* CONTENT: Features */
.features {
  text-align: center;
}

.features-row {
  margin-top: 40px;
}

.features-row:first-child {
  margin-top: 0;
}

.features-icon {
  display: block;
  font-size: 5em;
}

/* CONTENT: Testimonials */
.quote-box {
  margin-bottom: 45px;
  padding: 30px 30px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  width: calc(100% - 145px);
  margin-left: 20px;
  display: inline-block;
  position: relative;
  background: #FFF;
}

.quote-box:before {
  top: 30px;
  border: transparent solid;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #FFF;
  border-width: 20px;
  left: -35px;
}

.quote-person {
  margin-bottom: 35px;
  vertical-align: top;
  width: 120px;
  display: inline-block;
}

.quote {
  color: #2d303b;
  padding: 0;
  margin: 0;
  border: 0;
}

.quote-cite {
  display: block;
  line-height: 1.428571429;
  color: #999999;
  font-size: 85%;
  font-style: normal;
}

.quote-cite:before {
  content: '\2014 \00A0';
}

/* CONTENT: Subscription form */
.subscription-form {
  margin: 0 0 120px 0;
  text-align: left;
}
